body {
  font-family: 'Segoe UI';
}

.toolbar {
  position: relative;
  left: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(101, 129, 206);
}

#fontSize, #fontColor, #bgColor{
  width: 45px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  outline: none;
}

#fontSize:hover, #fontColor:hover, #bgColor:hover {
  background-color: rgb(149, 170, 228);
}

.formats {
  width: 75px;
  height: 25px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.editor {
  position: relative;
  left: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 200px;
}

.toolbar label, .toolbar button, .toolbar select {
  margin-right: 5px;
}

.editor {
  position: relative;
  font-family: 'Segoe UI';
  padding: 20px;
  height: calc(100vh - 100px);
  width: 94vw;
  border: 2px solid rgb(41, 83, 219);
  border-radius: 15px;
  outline: none;
  z-index: 1;
}

.flexbox {
  position: absolute;
  padding: 2px;
  height: 30px;
  width: 345px;
  border: 2px solid rgb(41, 83, 219);
  border-radius: 12px;
  opacity: 0.6;
  z-index: 2;
  display: none;
}

.flexbox:hover {
  opacity: 0.8;
}

.flexbox input[type="text"] {
  position: relative;
  left: 4px;
  top: 2px;
  width: 200px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.flexbutton, .flexhide {
  position: relative;
  left: 5px;
  top: 2px;
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 8px;
  background-color: rgb(133, 161, 212);
}

.flexbutton:hover, .flexhide:hover {
  background-color: rgb(83, 101, 182);
}